Package: php-fcgi
Version: 5.3.10
Architecture: arm
Maintainer: Jared_wu <Jared_Wu@moxa.com>
Section: base
Priority: optional
Description: PHP fast cgi package to work with nginx
Source: http://downloads.php.net/johannes/php-5.3.10.tar.bz2
Depends: 
