Package: python
Version: 2.6.6
Architecture: xscale
Maintainer: Jared_wu <Jared_Wu@moxa.com>
Section: base
Priority: optional
Description: An interactive high-level object-oriented language
Source: www.python.org/download/releases/2.6.6/
Depends: 
