Package: libphp5
Version: 5.3.14
Architecture: xscale
Maintainer: Jared_wu <Jared_Wu@moxa.com>
Section: base
Priority: optional
Description: This package provides libphp5.so, which supports php web programming.
Source: http://tw2.php.net/get/php-5.3.14.tar.bz2/from/tw.php.net/mirror
Depends: libxml2
