Package: libmysqlclient5
Version: 5.6.11
Architecture: arm
Maintainer: Aeluin Chen <aeluin.chen@moxa.com>
Section: base
Priority: optional
Description: This package provides libmysqlclient.so.18.0.0 (mysql v5.6.11), which supports php web programming.
Source: http://downloads.mysql.com/archives/mysql-5.6/mysql-5.6.11.tar.gz
Depends:
