Package: pppd
Version: 2.4.5
Architecture: xscale
Maintainer: Jared_wu <Jared_Wu@moxa.com>
Section: base
Priority: optional
Description: Point-to-Point Protocol Daemon
Source: http://fossies.org/linux/misc/ppp-2.4.5.tar.gz
Depends: 
